<mat-grid-list cols='12' rowHeight="80px" *ngIf="discussion" class='head'>
<!-- go back to previous page button -->
  <mat-grid-tile [colspan]='1'>
    <button mat-raised-button color="primary" (click)='goBack()'>GoBack</button>
  </mat-grid-tile>

  <!-- displays main discussion to be discussed -->
  <mat-grid-tile [rowspan]='3' [colspan]='11'>
    <mat-list>
      <mat-list-item class='author'>
        <h2 class='thread-author' color="primary">- {{discussion.author}}</h2>
      </mat-list-item>
      <mat-list-item>
        <h1 class='thread-title'>{{discussion.title | titlecase}}</h1>
      </mat-list-item>
    </mat-list>
  </mat-grid-tile>
</mat-grid-list>
  
<!-- discussion comment block -->


<mat-grid-list [cols]='1' rowHeight="150px" *ngIf="discussion">
    <mat-grid-tile [colspan]='1' class='comment-list'
    *ngFor="let comment of discussion.comments">
    <mat-card >
      <mat-card-content>
        <p class='commentor'>{{comment.author | titlecase}}</p>
        <p>{{comment.content}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)='like()'>{{comment.likes}} Likes</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

<mat-grid-list [cols]=1 rowHeight='200px' class='add-comment'>
  <mat-grid-tile [colspan]='1'>
    <mat-card class=''>
      <mat-card-content>
        <ckeditor [editor]="Editor"></ckeditor>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)='createComment()'>Add comment</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

