mat-card {
  margin: auto;
  padding: 40px;
  min-height: 100px;
  border-radius: 10px;
  background-color: #EDE8ED;
  border: 1px solid #DBD6DB;
  width: 30%;
}
mat-card button{
  border: 1px solid #DBD6DB;
}

mat-card .tag {
  border-radius: 10px;
  border: 1px solid #183152;
  float: left;
}

mat-card-subtitle {
  float: right;
}
mat-card-content {
  background-color: #EDE8ED;
  border: 1px dashed #183152;
  border-radius: 5px;
  margin: 0px -5px 10px -5px;
  padding: 20px;
}
.badge {
  width: 25px;
  height: 25px;
  color: white;
  font-size: 12px;
  padding-top: 6px;
  text-align: center;
  border-radius: 100px;
  background-color: rgb(146, 184, 218);

  position: relative;
  top: -20px;
  left: -10px;

}
.welcome {
  background-color: #FFFFFF;
  color: #046380;
}
.discussion-item {
  color: #778899;
  margin-top: 10px;
  padding: 10px;
}
.login {
  float: right;
}
.create {
  float: right;
}

